<nav id="navigation">
  <ul class="brand">
    <li><%= link_to 'Ruby On Rails', root_url %></li>
  </ul>
  <ul class="navbar">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<div class="clear"></div>