<%= render 'navigation'%>
<div class="wrapper">
    <h1>Deskripsi Ruby on Rails</h1>
    <p>Ruby adalah bahasa pemrograman berorientasi object yang dibuat oleh Yukihiro Matsumoto (Matz) pada tahun 2000. Ruby dapat digunakan di berbagai sistem operasi Linux, MacOs, dan Windows, dikembangkan secara open source. Setiap orang boleh menggunakan Ruby secara gratis, dan juga bebas untuk menduplikat, mendistribusikan bahkan melakukan perubahan / modify !
    Rails merupakan web framework yang dibuat dengan bahasa pemrograman Ruby, dikembangkan pertama kali oleh David Heinemeier Hansson pada tahun 2003.  Rails juga open source tapi dengan lisensi MIT.
    </p>
</div>
<div class="clear"></div>
<div class="gotoapp">
    <%= link_to 'Contoh Aplikasi', root_url, class: 'tmbl tmbl-md tmbl-green' %>
</div>