<%= render 'navigation' %>
<div class="">
    <%= render 'form', mahasiswa: @mahasiswa %>
    <div style="width:80%;margin:0 auto;margin-top:30px">
        <%= link_to 'Back', mahasiswas_path, class: 'tmbl tmbl-green tmbl-md back' %>
    </div>
</div>   
